<html>
    <head>
        <title>LinleyPies' Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">LinleyPies' Blog</a></h1>
        </div>

        <div>
            <p>published: 21.07.2018, 2:25pm</p>
            <h2><a href="">My First Post</a></h2>
            <p>What's up world?!</p>
        </div>

        <div>
            <p>published: 21.07.2018, 2:26pm</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Why is the sky blue?</p>
        </div>
    </body>
</html>>